<div id="amf_buttons">
    <a class="btn btn-outline-primary btn-sm {% if active == 'coordonnees' %} active {% endif %}" href="{% url 'amf-famille-edit' famille.pk %}">Coordonnées</a>
    <a class="btn btn-outline-primary btn-sm {% if active == 'prestation' %} active {% endif %}" href="{% url 'amf-journal-list' famille.pk %}">Journal</a>
    <a class="btn btn-outline-primary btn-sm {% if active == 'suivi' %} active {% endif %}" href="{% url 'amf-famille-suivi' famille.pk %}">Suivi</a>
    {% if perms.croixrouge.change_utilisateur %}
    <a class="btn btn-outline-primary btn-sm{% if active == 'acces' %} active{% endif %}" href="{% url 'famille-journalacces' famille.pk %}">Journal d’accès</a>
    {% endif %}
</div>
