{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col">
            <p class="lead">
                {% if created %}
                    Nouvelle formation
                {% else %}
                    Formation - {{ form.instance }}
                {% endif %}
            </p>
        </div>
        <div class="col text-end" >
            {% include "amf/formations_boutons.html" %}
        </div>
    </div>

    <div class="row mb-3 justify-content-center">
        <div class="col-6">
            <form action="#" class="mb-5" name="formation_form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-sm table-borderless">
                    {{ form.as_table }}
                </table>
                {% include "actions.html" %}
            </form>
        </div>
        <div class="col-6">
            <p class="h5">
                Participants
                {% if not created %}
                    ({{ participants.count }})
                {% endif %}
            </p>
            {% if created %}
                <p>
                    Il est nécessaire d'enregistrer la nouvelle formation pour y inscrire des participants.
                </p>
            {% else %}
                {% if participants.count %}
                    <ul>
                        {% for participant in participants %}
                            <li>{{ participant }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Aucun participant n'est inscrit actuellement.</p>
                {% endif %}
                <span>
                    <a href=""
                        class="btn btn-sm btn-mini btn-primary js-edit"
                        data-url="{% url 'amf-formation-inscription' form.instance.pk %}"
                        role="button"
                        title="Gérer les inscriptions"
                        data-modal-additional-class="modal-lg">
                        Gérer les inscriptions
                    </a>
                </span>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extrastyle %}
    {{ inscription_media.css }}
{% endblock %}

{% block extra_javascript %}
    {{ inscription_media.js }}
{% endblock %}
