{% extends "base.html" %}

{% block boutons_droite %}
<div class="topnav-right text-start float-end">
    <form method="get" action=".">
        <div class="float-start input-group ms-1 mt-2" style="width:16em;">
            {{ filter_form.nom }}
            <button class="px-2" type="submit" title="Rechercher">
                <img src="{% static 'admin/img/search.svg' %}">
            </button>
            <button id="reset-button" class="ms-1" type="reset" title="Réinitialiser tous les filtres">
                <img src="{% static 'img/filter_off.svg' %}">
            </button>
        </div>
    </form>
</div>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col">
            <p class="lead">
                Formations
                {% if filter_form.cleaned_data.nom %}
                    « {{ filter_form.cleaned_data.nom }} »
                {% endif %}
            </p>
        </div>
        <div class="col text-end" >
            {% include "amf/formations_boutons.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table id="benef_table" class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                        <td>Formation</td>
                        <td>Date &amp; heure</td>
                        <td>Occupation</td>
                    </tr>
                </thead>
                <tbody>
                    {% for formation in object_list %}
                        <tr>
                            <td><a href="{% url 'amf-formation-edit' formation.pk %}">
                                {{ formation.nom }}
                            </a></td>
                            <td>
                                {{ formation.date }}
                                {{ formation.horaires }}
                            </td>
                            <td>
                                {{ formation.nb_participants }}
                            </td>
                        </tr>
                    {% empty %}
                        <td colspan="8" class="bg-warning" align="center">
                            <i>Aucune formation à afficher.</i>
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
