{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mt-3 mb-3">
        <div class="col"><p class="lead">Importation du fichier des familles du SPAJ</p></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <table class="table table-sm table-bordered mt-3 border-bottom">
                    <tbody>
                        <tr><th>{{ form.fichier.label_tag }}</th>
                            <td>{{ form.fichier.errors }}{{ form.fichier }}</td>
                        </tr>
                    </tbody>
                </table>
                <div id="actions" class="row border-top mt-2">
                    <div class="col mt-3 text-end">
                        <a class="btn btn-sm btn-secondary" href="javascript: history.go(-1)">Annuler</a>
                        <button class="btn btn-sm btn-success" name="save" type="submit">Importer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
