{{ errors }}
{% for field, errors in fields %}
  <div class="form-input">
    {% if field.label %}{{ field.label_tag }}{% endif %}
    {{ field }}
    {% if field.help_text %}
      <span class="helptext">{{ field.help_text|safe }}</span>
    {% endif %}
    {% if errors %}<div class="invalid-feedback">{{ errors }}</div>{% endif %}
    {% if forloop.last %}
      {% for field in hidden_fields %}{{ field }}{% endfor %}
    {% endif %}
  </div>
{% endfor %}
