{% extends "base.html" %}

{% block extra_javascript %}
<script src="{% static 'js/sof.js' %}"></script>
{% endblock %}

{% block boutons_droite %}
    {% include './famille_boutons.html' with active='suivi' %}
{% endblock %}

{% block content %}
<div class="row border-bottom lead mt-3 mb-3">
    <div class="col">Famille {{ famille.nom }} - {{ famille.adresse }}</div>
    <div class="col text-end">Dossier de suivi</div>
</div>

<form name="SuiviSPE" action= "." method="post">{% csrf_token %}
    <input type="hidden" name="famille" value="{{ famille.pk }}">
    <div class="row ">
        <div class="col">
            <table class="table table-sm table-borderless border-bottom">
                <tr>
                    <th class="left-label">Enfant(s) suivi(s)</th>
                    <td>
                        <table class="table table-sm table-hover">
                            {% for enfant in famille.membres_suivis %}
                            <tr>
                                <th width="400"><a href="{% url 'personne-edit' famille.pk enfant.pk %}">{{ enfant.nom_prenom }}</a></th>
                                <td width="100">
                                    {% if enfant.age %}{{ enfant.age|floatformat }} ans{% else %}<i>âge inconnu</i>{% endif %}
                                </td>
                                <td>{{ enfant.formation.info_scol }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row border-bottom pb-3 mb-3">
        <div class="col-5">
            <label>Annonceur:</label> {{ form.annonceur.errors }} {{ form.annonceur }}
            <div>{{ form.annonceur_txt.errors }}{{ form.annonceur_txt }}</div>
        </div>
        <div class="col-4"><label>Service orienteur:</label> {{ form.service_orienteur }}</div>
    </div>

    <div class="row mb-4">
        <div class="col-3">
            <label>Intervenants Croix-Rouge:</label>
            {% if can_edit %}
            <span>
                <a href=""
                    class="btn btn-sm btn-mini btn-primary js-add"
                    data-url="{% url 'sof-intervenant-add' famille.pk %}"
                    role="button"
                    title="Ajouter un intervenant">+</a>
            </span>
            {% endif %}
            {% for interv in intervenants %}
                {% if not interv.date_fin  %}
                <div><em>{{ interv.role }}</em>: {{ interv.intervenant.nom_prenom }}
                    {% if can_edit %}
                    <span class="hoverimage">
                        <a href=""
                            class="btn btn-sm btn-mini js-edit"
                            data-url="{% url 'sof-intervenant-edit' famille.pk  interv.pk %}"
                            role="button"
                            title="Modifier une intervention">
                            <img src="{% static 'admin/img/icon-changelink.svg' %}">
                        </a>
                    </span>
                    {% endif %}
                </div>
            {% else %}
                <div class="text-secondary"><em>{{ interv.role }}</em>: {{ interv.intervenant.nom_prenom }}</div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="col-3">
            <div class="form-check">
                {{ form.demande_prioritaire }} <label for="id_demande_prioritaire">Demande prioritaire</label>
            </div>
        </div>

    </div>
    <div class="row mb-1">
        <div class="col-2 fw-bold">Motif standardisé:</div>
        <div class="col-10">{{ form.motif_demande.errors }}{{ form.motif_demande }}</div>
    </div>

    {% include 'partial_table_documents.html' %}

    {% if can_edit %}
    <div class="row">
        <div class="col">
            {% include "actions.html" %}
        </div>
    </div>
    {% endif %}
</form>
{% endblock %}
