body {
  margin: 0;
  box-sizing: border-box;
  font: 27px/1.4 "suisse_intl_cond", "Helvetica Neue", "Helvetica", sans-serif;
}
img.logo { width: 279px; height: 62px; max-width: 50%; }

a { color: black; }
.mt-0 { margin-top: 0; }

.frame {
  max-width: 1280px;
  padding: 0 14px;
  margin: 0 auto;
}
header .frame {
  position: relative;
  max-width: 1224px;
}
.add-nav {
  position: absolute;
  top: 7px;
  right: 12px;
  max-width: 50%;
  font: 11px/13px "suisse_intl_mono", "Courier New", monospace;
  text-transform: uppercase;
  text-align: right;
}
.add-nav li {
  display: inline-block;
  vertical-align: top;
  padding: 0;
}
.add-nav li + li {
    margin: 0 0 0 5px;
}
.add-nav a {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 15px;
  color: #fc4e3c;
  border: 1px solid #fc4e3c;
  letter-spacing: 1px;
  transition: background-color 0.25s linear 0s, border-color 0.25s linear 0s, color 0.25s linear 0s;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}
.add-nav li:hover a, .add-nav li:focus a, .add-nav li:active a {
  color: #fff !important;
  background: #fc4e3c !important;
}
main { padding-top: 72px; }
h1, h2, h3 {
  font-family: inherit;
  font-weight: bold;
  margin: 0 0 0.5em;
  color: #fc4e3c;
}
h2 {
  font-size: 50px;
  line-height: 1.4;
  border-bottom: 1px solid #fc4e3c;
  padding: 0 0 3px;
  max-width: 1045px;
  margin: 0 auto 20px;
}
ul.messages { list-style-type: none; padding-left: 0; }
ul.messages li { background-color: greenyellow; }
.text-section {
  max-width: 948px;
  margin: 0 auto;
  padding: 15px 127px 0 0;
}
footer {
  background: #fc4e3c;
  color: #fff;
  padding: 20px 16px 35px;
  font: 11px/15px "suisse_intl_mono", "Courier New", monospace;
  font-weight: bold;
}

.smaller { font-size: 80%; }

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

ul.errorlist {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
ul.errorlist li { padding: .75rem 1.25rem; }

.immediate-submit { margin-bottom: 1em; }
.immediate-submit input {
  /* Bootstrap method to hide visually and show for screen readers */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}
button[type='submit'] { width: 100%; }
.immediate-submit label, button[type='submit'] {
  cursor: pointer;
  padding: 8px 12px 2px 12px;
  display: block;
  border: 1px solid #ccc;
  margin: 5px;
  color: #333;
  background-color: #eee;
  text-align: center;
  font-size: inherit;
}
.immediate-submit label:hover, button.wizard_goto_step:hover, button[type='submit']:hover { background-color: #ccc; }
.form-input { margin-top: 0.5em; margin-bottom: 0.5em; }
.invalid-feedback ul { margin-top: 0; }
#reservation ul { list-style-type: none; padding: 0; }
.reservation-form button[type='submit'] { font: inherit; width: 100%; }
.back_img { height: 1em; vertical-align: sub; padding-right: 0.5em; }
#contact-form-div label { display: block; font-weight: bold; }
#contact-form-div input, #contact-form-div textarea {
  font: inherit; max-width: 100%; width: 25em; border: 1px solid #999;
}
#id_contact-raison { height: 5em; }

@media (max-width: 767px) {
  body { font-size: 18px; }
  h2 { font-size: 30px; }
  main { padding-top: 32px; }
  .text-section { padding: 0 0 19px 0; }
}
