{% extends 'cipe/base_cipe.html' %}
{% load agenda l10n %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'css/agenda.css' %}">
{% endblock %}

{% block extra_javascript %}
<script type="module" src="{% static 'js/agenda.js' %}"></script>
{{ form_media }}
{% endblock %}

{% block content %}

{% if filter_form %}
    <form id="agenda-filter-form" method="post">{% csrf_token %}
        <div class="">
            Journée du <input type="text" name="date" class="vDateField" size="10" data-url="{% url 'agenda-day' 0 0 0 %}">
        </div>
        {{ filter_form.as_p }}
    </form>
{% endif %}

{% if agendas|length > 1 %}
    <div class="mt-3 mb-3">
        Agendas de:<br>
        {% for agenda in agendas %}
            {% if not forloop.first %}, {% endif %}
            <a href="#{{ agenda.person.username }}">{{ agenda.person.nom_prenom }}</a>
        {% endfor %}
    </div>
{% endif %}

{% for agenda in agendas %}
    <a name="{{ agenda.person.username }}"></a>
    <h2>{{ agenda.title }}</h2>

    <div style="display: flex; align-items: center; text-align: center; margin-bottom: 5px;">
        <div style="flex-grow: 0;">
            <a class="btn btn-secondary" href="{{ agenda.prev_events }}" title="Semaine précédente">&lt;</a>
        </div>

        <div style="flex: auto;">
            {% if agenda.add_dispo_url %}<a id="add-dispo-btn" class="btn btn-info js-add" href="{{ agenda.add_dispo_url }}">Ajouter une dispo</a>{% endif %}
            {% if agenda.add_rzv_url %}<a id="add-rzv-btn" class="btn btn-info js-add" href="{{ agenda.add_rzv_url }}">Ajouter un rendez-vous</a>{% endif %}
        </div>

        {% block center-buttons %}
        {% endblock %}

        <!--div style="flex: auto;">
            <a href="{{ agenda.print_url }}" title="Format PDF"><img class="ficon" src="{% static 'ficons/pdf.svg' %}"></a>
        </div-->

        <div style="flex-grow: 0;">
            <a class="btn btn-secondary" href="{{ agenda.next_events }}" title="Semaine suivante">&gt;</a>
        </div>
    </div>

    {% block agenda_content %}
    {% if agenda.has_holidays %}
    <div class="agenda-grid holiday-grid">
        {% for day, events in agenda.week_events.items %}
        <div class="cell-holiday">{% if events.holiday %}{{ events.holiday }}{% endif %}</div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="agenda-grid {{ agenda.classes|default:'week-grid' }}"
         data-numcols="{{ agenda.week_events|length }}" data-numrows="{{ day_divs|length|add:1 }}"
         style="grid-template-rows: repeat({{ day_divs|length|add:1 }}, 24px);">
    {% for day, events in agenda.week_events.items %}
        <div class="agenda-head">{{ day|date:'D j F' }}</div>
        {% for dv in day_divs %}
            {% with events|get_events:dv as quart_evts %}
            <div class="event-cell {{ dv|is_hour|yesno:"hour," }} {{ dv|is_meal|yesno:"meal,"}}"
                 data-day="{{ day|date:'c' }}" data-hour="{{ dv|date:'H:i' }}">
                {% for ev in quart_evts %}
                <span class="event-content {{ ev.cancelled|yesno:'cancelled,' }} {{ ev.category.name }}"
                      style="height: calc({% mult ev.spans 100 %}% + {% mult ev.spans 2 %}px);
                             min-height: calc({% mult ev.spans 100 %}% + {% mult ev.spans 2 %}px);
                             left: {{ ev.leftoffset|default:0 }};
                             {% if events.col_width %}width: {% if ev.category.name == 'dispo' %}{{ events.col_width|unlocalize }}%{% else %}calc({{ events.col_width|unlocalize }}% - 22px){% endif %};{% endif %}
                             background-color: {{ ev.bg_color }};
                             color: {{ ev.text_color }};"
                       {% if ev.category.name == 'dispo' %}data-location="{{ ev.centre_id }}"{% endif %}>
                    {{ ev|before_icons }}
                    {% if ev|can_edit:request.user %}
                        <a class="js-edit" href="{% url 'person-agenda-edit' ev.person.username ev.pk %}{% if ev.is_recurring %}?occ={{ ev.start.isoformat|urlencode }}{% endif %}">
                            <img class="icon floatright" src="{% static 'img/edit.svg' %}" title="Modifier">
                        </a>
                    {% endif %}
                    {% if ev.is_recurring %}
                        <img class="icon floatright repeat" src="{% static 'img/repeat.svg' %}"
                             title="Cet événement est récurrent">
                    {% endif %}
                    {{ ev.start|as_hour_min }} - {{ ev.end|as_hour_min }}
                    {% if show_infs and ev.person %} <span title="{{ ev.person }}">[{{ ev.person.initiales }}]</span>{% endif %}
                    {% if ev.centre_id %}- {{ ev.centre }} - {% endif %}
                    {{ ev|event_details }}
                </span>
                {% endfor %}
            </div>
            {% endwith %}
        {% endfor %}
    {% endfor %}
    </div>
    {% endblock %}
{% endfor %}
{% endblock %}
