{% extends "base-public.html" %}

{% block title %}Consultations infirmières petite enfance{% endblock %}</title>

{% block extrastyle %}
    <meta name="description" content="Les consultations infirmières petite enfance sont à disposition des familles pour les accompagner durant les 4 premières années de vie de leur enfant.">
{% endblock %}

{% block extra_javascript %}
    <script src="{% static 'js/agenda_public.js' %}" defer></script>
{% endblock %}

{% block content %}
    <h2>Prendre rendez-vous pour une consultation infirmière petite enfance</h2>
    <div class="text-section" aria-live="polite">
        {% block subcontent %}
        {% endblock %}
    </div>
{% endblock %}
