<!-- Loaded in BS modal -->
<p>Souhaitez-vous réellement supprimer le rendez-vous du {{ start }}{% if object.famille %} avec la famille {{ object.famille.nom }}{% endif %} ?</p>
<form id="agenda-delete" method="post" action="{% url 'person-agenda-delete' object.person.username object.pk %}">{% csrf_token %}
    <div>{{ message_form.non_field_errors }}</div>
    {% if message_form.has_channel %}
        <div>
            <input type="checkbox" id="send_message_cb"> <label for="send_message_cb">Envoyer un message à la famille</label>
        </div>
        <div class="ms-5 disabled">
            <div>
                {{ message_form.msg_method }}
            </div>
            <div>
                Message :<br>
                {{ message_form.message }}
                <div class="char_counter"><span id="char_count" data-max="160"></span> caractères/160</div>
            </div>
        </div>
    {% endif %}
    <div class="boutons">
        <button type="submit" id="delete_event" class="btn btn-danger delete">Supprimer</button>
        <button type="button" class="btn btn-secondary cancel" data-bs-dismiss="modal">Ne pas supprimer</button>
    </div>
</form>
