{% extends 'agenda/agenda-week.html' %}

{% block center-buttons %}
<!--div style="flex: auto;">
    Affichage:
        <span class="radio-border">
            <input type="radio" id="cal_hebdo" name="cal_display"
                   data-url="{ url 'person-agenda' person.username }"
                   {% if view.mode == 'week' %}checked{% endif %}>
            <label for="cal_hebdo">hebdomadaire</label>
        </span>
</div-->
{% endblock %}
