{% extends "base.html" %}

{% block content %}

<h2 class="text-center">Confirmation d’accès</h2>

<p class="text-center">Veuillez confirmer l'accès à la famille {{ famille.nom }}. Comme ce n’est pas un accès habituel, il sera journalisé comme tel.</p>

<p class="fs-2 text-center">
    <a href="{{ url }}?confirm=1">Continuer vers la famille {{ famille.nom }}</a>
</p>
{% endblock %}
