{% extends "base.html" %}

{% block content %}
    <div class="row border-bottom mt-3 mb-3">
        <div class="col"><p class="lead">{{ view.titre_page }}</p></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-8">
            <form action="." method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <table class="table table-sm table-bordered mt-3 border-bottom">
                    <thead class="table-light">
                        <tr><th width="20%">{{ view.titre_formulaire }}</th><th></th></tr>
                    </thead>
                    <tbody>
                    {{ form.as_table }}
                    </tbody>
                </table>
                {% include 'actions.html' %}
            </form>
        </div>
    </div>
{% endblock %}
