{% extends "base.html" %}

{% block content %}
    <h2>Facturation interne</h2>

    <div class="mt-2 mb-2">
        <form method="get" class="immediate-submit">
        {{ form.mois.errors }}{{ form.mois }} {{ form.annee.errors }}{{ form.annee }}
        </form>
    </div>

    {% if form.is_valid %}
    <ul>
        <li><a href="{% url 'facturation-pdf' 'ipe-spe' form.cleaned_data.mois form.cleaned_data.annee %}">Facturation IPE pour SPE</a>,
            <a href="{% url 'facturation-details' 'ipe-spe' form.cleaned_data.mois form.cleaned_data.annee %}">Détails</a>
        </li>
        <li><a href="{% url 'facturation-pdf' 'sof-spe' form.cleaned_data.mois form.cleaned_data.annee %}">Facturation SOF pour SPE</a>,
            <a href="{% url 'facturation-details' 'sof-spe' form.cleaned_data.mois form.cleaned_data.annee %}">Détails</a>
        </li>
        <li><a href="{% url 'facturation-pdf' 'ase-spe' form.cleaned_data.mois form.cleaned_data.annee %}">Facturation ASE pour SPE</a>,
            <a href="{% url 'facturation-details' 'ase-spe' form.cleaned_data.mois form.cleaned_data.annee %}">Détails</a>
        </li>
        <li><a href="{% url 'facturation-pdf' 'apa-spe' form.cleaned_data.mois form.cleaned_data.annee %}">Facturation APA pour SPE</a>,
            <a href="{% url 'facturation-details' 'apa-spe' form.cleaned_data.mois form.cleaned_data.annee %}">Détails</a>
        </li>
        <li><a href="{% url 'facturation-pdf' 'ase-sof' form.cleaned_data.mois form.cleaned_data.annee %}">Facturation ASE pour SOF</a>,
            <a href="{% url 'facturation-details' 'ase-sof' form.cleaned_data.mois form.cleaned_data.annee %}">Détails</a>
        </li>
    </ul>
    {% endif %}
{% endblock %}
