{% extends "base.html" %}

{% block content %}
    <h2>Facturation interne: {{ service }} pour {{ view.typ.pour }}</h2>

    <p>Période: {{ periode|date:'M Y' }}</p>

    <table class="table mt-2 mb-2">
        {% for line in lines %}
        <tr class="{% if line.0 %}spaceabovetr{% endif %}{% if line.2 == 'Sous-total' %}table-secondary{% endif %}">
            <td>{{ line.0 }}</td>
            <td>{{ line.1 }}</td>
            <td>{{ line.2 }}</td>
            <td>{{ line.3 }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="text-end">
        <a href=".?&export=1"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"></a>
    </div>
{% endblock %}
