{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5 border-bottom">
        <div class="col-12">
            <h3 align="center">Famille: {{ famille }}</h3>
        </div>
    </div>
    <div class="row justify-content-center mt-3 pt-3">
        <div class="col-8">
            <h4>Changement d’adresse</h4>
            <form id="changement-adresse" method="post">{% csrf_token %}
                <table class="table table-sm">
                    <tr>
                        <td>{{ form.rue.label_tag }}</td>
                        <td>{{ form.rue.errors }}{{ form.rue }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.city_auto.label_tag }}</td>
                        <td>{{ form.city_auto.errors }}{{ form.city_auto }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="pt-4">
                            <h5>Appliquer le changement aux personnes suivantes</h5>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ form.membres.errors }}{{ form.membres }}</td>
                    </tr>
                </table>
                {% include "actions.html" %}
            </form>
        </div>
    </div>
{% endblock %}
