{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="offset-xl-2 col-6 border border-danger p-5">
            <div class="row h2 mb-3">Suppression de données</div>
            <div class="row mb-5">Voulez-vous vraiment supprimer l'information suivante ?</div>
            <div class="row mb-5"><strong>{{ object }}</strong> ?</div>
            <div class="row mb-5 alert alert-warning">Cette opération est définitive !</div>

            <form action= "." method="post">{% csrf_token %}
                <div class="row">
                    <div class="col ms-0 pl-0"><button class="btn btn-sm btn-danger" name="delete" type="submit">Supprimer</button></div>
                    <div class="col me-0 text-end">
                        <a href="javascript: history.go(-1)">Annuler</a>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
