{% extends "base.html" %}

{% block content %}

<h2>Mes données</h2>
<p>Si des informations semblent incorrectes dans le tableau ci-dessous, veuillez vous adresser à l’un de vos responsables hiérarchiques.</p>
<table>
    {% for label, value in user_data %}
    <tr><th class="p-1">{{ label|capfirst }} :</th><td class="p-1">{{ value }}</td></div>
    {% endfor %}
    <tr><th>Signature:</th>
        <td><form method="post" enctype="multipart/form-data">{% csrf_token %}
            {{ form.signature }}
            <button class="btn btn-secondary mt-1" type="submit">Envoyer</button>
        </form></td>
    </tr>
</table>

<hr>
<a class="btn btn-secondary" href="{% url 'two_factor:profile' %}">Réglages de sécurité (2e facteur)</a>
{# TODO: changement de mot de passe #}

{% endblock %}
