<div class="dropdown">
    <a class="btn btn-sm btn-outline-secondary dropdown-toggle {% if active == 'ressources' %}active{% endif %} "
      href="#"
      role="button" id="dropdownMenuRessources"
      data-bs-toggle="dropdown" aria-expanded="false">Ressources
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuRessources">
      <a class="dropdown-item" href="{% url 'utilisateur-list' %}">Utilisateurs</a>
      <a class="dropdown-item" href="{% url 'cercle-list' %}">Écoles</a>
      <a class="dropdown-item" href="{% url 'role-list' %}">Roles</a>
      <a class="dropdown-item" href="{% url 'contact-list' %}">Contacts</a>
      <a class="dropdown-item" href="{% url 'service-list' %}">Services</a>
    </div>
</div>
{% if perms.croixrouge.export_stats %}
<div class="nav-item">
    <a href="{% url 'stats' %}" class="btn btn-sm btn-outline-secondary" role="button">Stats SPE</a>
</div>
<div class="nav-item">
    <a href="{% url 'cipe:stats-familles' %}" class="btn btn-sm btn-outline-secondary" role="button">Stats CIPE</a>
</div>
<li class="nav-item">
  <a href="{% url 'medlink-import' %}" class="btn btn-sm btn-outline-secondary" role="button">Import. Medlink</a>
</li>
<li class="nav-item">
  <a href="{% url 'facturation-interne' %}" class="btn btn-sm btn-outline-secondary" role="button">Fact. interne</a>
</li>
<li class="nav-item">
  <a href="{% url 'archive-list' 'spe' %}" class="btn btn-sm btn-outline-secondary" role="button">Archives SPE</a>
</li>
{% endif %}
