<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | Croix-Rouge neuchâteloise</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{% static 'css/public.css' %}">
    {% block extrastyle %}{% endblock %}
    {% block extra_javascript %}{% endblock %}
</head>

<body>
    <div id="wrapper">
        <header>
            <div class="frame">
                <a href="https://croix-rouge-ne.ch"><img class="logo" src="{% static 'img/logo-cr.svg' %}" alt="Croix-Rouge neuchâteloise"></a>
                <div class="panel">
                    <div class="menu">
                        <ul class="add-nav">
                            <li id="menu-item-1823" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1823"><a href="https://croix-rouge-ne.ch/nos-coordonnees/">Contact</a></li>
                            <li id="menu-item-2133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2133"><a href="https://croix-rouge-ne.ch/agir-avec-nous/">Agir avec nous</a></li>
                            <li id="menu-item-2293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2293"><a href="https://croix-rouge-ne.ch/formulaire-don/">Faire un DON</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="frame">
                {% block messages %}
                {% if messages %}
                    <div class="text-section">
                        <ul class="list-unstyled messages">
                            {% for message in messages %}
                                <li class="alert {{ message.tags }}">{{ message|linebreaksbr|capfirst }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% endblock messages %}

                {% block content %}
                {% endblock %}
            </div>
        </main>
        <footer>
            <p>© 2021 Croix-Rouge neuchâteloise</p>
        </footer>
    </div>
</body>
</html>
