<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Croix-Rouge NE</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'bootstrap_headers.html' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id="bg_home" class="top-container p-0 m-0">
        <section class="main-content">
        {% include 'user_bar.html' %}
        <div class="row g-3" id="home-app-line">
            <div class="col-sm-auto">
                <a class="btn btn-primary btn-lg me-3 mt-2" href="{% url 'spe-famille-list' %}" role="button">SPE</a>
            </div>
            <div class="col-sm-auto">
                <a class="btn btn-dark btn-lg me-3 mt-2" href="{% url 'cipe:famille-list' %}" role="button">CIPE</a>
            </div>
            {% if perms.amf.view_familleamf %}
                <div class="col-sm-auto">
                    <a class="btn btn-info btn-lg me-3 mt-2" href="{% url 'amf-famille-list' %}" role="button">AMF</a>
                </div>
            {% endif %}
            {% if perms.sof.view_famillesof %}
            <div class="col-sm-auto">
                <a class="btn btn-success btn-lg me-3 mt-2" href="{% url 'sof-famille-list' %}" role="button">SOF</a>
            </div>
            {% endif %}
            <div class="col-sm-auto">
                <a class="btn btn-light btn-lg mt-2" href="{% url 'utilisateur-list' %}" role="button">Administration</a>
            </div>
        </div>
        </section>

        <footer>
            <div class="col text-center footer p-4 border-top" >
                Croix-Rouge neuchâteloise
            </div>
        </footer>
    </div>
</body>
</html>
