<div class="row">
    <div id="user-bar" class="col-xl-6 text-end">
            {% if user.is_authenticated %}
            <div id="user-tools" class="d-flex justify-content-end">
                <div class="p-1"><a href="{% url 'utilisateur-connecte' user.username %}">{% firstof user.get_short_name user.get_username %}</a> |</div>
                {% if perms.cipe.add_famillecipe %}<div class="p-1"><a href="{% url 'person-agenda' user.get_username %}">Mon agenda</a> |</div>{% endif %}
                <form method="post" class="d-inline p-1" action="{% url 'logout' %}">{% csrf_token %}
                    <button type="submit" class="btn btn-link p-0">Se déconnecter</button>
                </form>
            </div>
            {% endif %}
        <div class="col-xl-1"></div>
    </div>
</div>
