{% block content %}
<div class="row justify-content-center">
    <div class="col">
        <p class="h4 border-bottom mb-4">Dates d'entretien pour duo</p>
        <form action="{{ request.path }}" method="post">{% csrf_token %}
            <div class="row mb-4">
                <div class="col-md-4 h6 pt-2">{{ form.rendez_vous.label_tag }}</div>
                <div class="col-md-8 h5">{{ form.rendez_vous }}{{ form.rendez_vous.errors }}</div>
            </div>
            <div id="actions" class="row border-top mt-2">
                <div class="col mt-3 text-end">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                    <button class="btn btn-sm btn-success" name="save" type="submit">Enregistrer</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
