<div class="row justify-content-center">
    <div class="col-md-12">
        <div class="h4 border-bottom mb-3">Famille: {{ famille.nom }}</div>
        <form action="." method="post">{% csrf_token %}
            <table class="table table-borderless">
                {{ form.as_table }}
            </table>
            {% include "actions.html" %}
        </form>
    </div>
</div>
