{% extends "base.html" %}

{% block content %}
   <ul class="nav nav-tabs nav-prestations">
      <li class="nav-item">
         <a class="nav-link active" href="#">Prestations par famille</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="{% url 'prestation-generale' 'spe' %}">Prestations générales</a>
      </li>
      <li class="nav-item">
         <li class="nav-item">
         <a class="nav-link" href="{% url 'prestation-personnelle' 'spe' %}">Mes prestations</a>
      </li>
      </li>
   </ul>
   <div class="row mt-5">
      <div class="col">
         <table class="table table-sm table-bordered prestations">
            <thead class="table-light">
               <tr>
                  <th>Familles</th>
                  <th>RDV manqués</th>
                  <th>Eval.</th>
                  <th>Accomp.</th>
                  <th>Total SPE</th>
                  <th class="mesprest">Mes prestations</th>
               </tr>
            </thead>
            <tbody>
               {% for famille in familles %}
                  <tr>
                     <td>
                        <a href="{% url 'spe-journal-list' famille.pk %}">{{ famille.nom }}</a>
                        - {{ famille.adresse }}
                     </td>
		     <td{% if famille.rdv_manques|length == 0 %} class="zero"{% endif %} align="center">
                         <div title="{{ famille.rdv_manques|join:'; ' }}">{{ famille.rdv_manques|length }}</div>
                     </td>
                     <td{% if not famille.spe1 %} class="zero"{% endif %}>{{ famille.spe1|format_duree }}</td>
                     <td{% if not famille.spe2 %} class="zero"{% endif %}>{{ famille.spe2|format_duree }}</td>
                     {% with temps_total=famille.temps_total_prestations %}
                        <td class="total{% if not temps_total %} zero{% endif %}">
                           {{ temps_total|format_duree }}
                        </td>
                     {% endwith %}
                     <td class="mesprest{% if not famille.user_prest %} zero{% endif %}">
                        {{ famille.user_prest|format_duree }}
                     </td>
                  </tr>
               {% endfor %}
            </tbody>
         </table>
         <p class="alert alert-info">
             Les prestations générales sont réparties chaque mois entre toutes les familles en fonction des familles actives durant le mois donné. Elles ne figurent pas sur cette page.
         </p>
      </div>
   </div>
{% endblock %}
