<ul class="nav nav-tabs nav-statistiques">
    {# active is defined in include tag #}
    <li class="nav-item">
        <a class="nav-link {% if active == 'general' %}active{% endif %}"
           href="{% url 'stats' %}?{% param_replace %}">Familles et enfants</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'localite' %}active{% endif %}"
           href="{% url 'stats-localite' %}?{% param_replace %}">Par localité</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'region' %}active{% endif %}"
           href="{% url 'stats-region' %}?{% param_replace %}">Par région</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'duree' %}active{% endif %}"
           href="{% url 'stats-duree' %}?{% param_replace %}">Par durée</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'age' %}active{% endif %}"
           href="{% url 'stats-age' %}?{% param_replace %}">Par âge</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'niveaux' %}active{% endif %}"
           href="{% url 'stats-niveaux' %}?{% param_replace %}">Par niveau</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'motifs' %}active{% endif %}"
           href="{% url 'stats-motifs' %}?{% param_replace %}">Motifs, proven. et destin.</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'prest-spe' %}active{% endif %}"
           href="{% url 'stats-prestation-spe' %}">Prestations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'niveau' %}active{% endif %}"
           href="{% url 'stats-ressources' %}?{% param_replace %}">Ressources</a>
    </li>
    {% if perms.croixrouge.export_stats %}
    <li class="nav-item">
        <a class="nav-link {% if active == 'export' %}active{% endif %}"
           href="{% url 'export-prestation' %}">Exportations</a>
    </li>
    {% endif %}
</ul>
