{% extends "base.html" %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    {% include "./stat-tabs.html" with active="localite" %}

    <div class="row">
        <div class="col">
            <p class="fw-bold mt-3">
                Nombre d’enfants suivis (dès demande jusqu'à la fin d’accompagnement) par localité.
            </p>

            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr class="table-secondary">
                        <th class="left">Localité</th>
                        {% for month in months %}<th>{{ month }}</th>{% endfor %}
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for localite, stats in localites_spe.items %}
                    {% if localite != 'totals' %}
                    <tr>
                        <td>{{ localite }}</td>
                        {% for month in months %}<td class="num">{{ stats|get_item:month }}</td>{% endfor %}
                        <td class="num">{{ stats.total }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    <tr>
                        <td>Totaux</td>
                        {% for month in months %}<td class="num">{{ localites_spe.totals|get_item:month }}</td>{% endfor %}
                        <td class="num">{{ localites_spe.totals.totals }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-end">
                <a href=".?{% param_replace %}&export=1"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}
