{% extends "base.html" %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/cipe.css' %}">
{% endblock %}

{% block extra_javascript %}
    <script src="{% static 'js/cipe.js' %}"></script>
{% endblock %}

{% block title %}CIPE{% endblock %}

{% block top-navigation %}
<nav id="menu_crne" class="navbar navbar-expand-lg mx-0 mb-1 navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="btn btn-sm btn-outline-secondary" role="button">Accueil</a>
            </li>
            {% include 'cipe/menu_principal.html' %}
        </ul>
    </div>
</nav>

<section class="container-fluid">
    <div class="row">
        <div class="col text-end pr-3 pt-2">
            {% block boutons_droite %}{% endblock %}
        </div>
    </div>
</section>
{% endblock %}
