{% extends "cipe/base_cipe.html" %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/autocomplete.min.css' %}">
<style>
  textarea { height: 2.5em; width: 100%; }
  .narrower label { display: block; }
  .narrower input { max-width: 5em; }
  #id_age_gest_0, #id_age_gest_1 { width: 4em; }
  #id_prescripteur, id_pediatre { width: 100%; }
  #allerg_fam:empty { font-style: italic; }
  #allerg_fam:empty::before { content: 'Aucune signalée'; }
</style>
{% endblock %}

{% block extra_javascript %}
<script src="{% static 'js/autocomplete.min.js' %}"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var input = document.getElementById("id_lieu_acc");
    autocomplete({
        input: input,
        debounceWaitMs: 250,
        fetch: function(text, update) {
            text = text.toLowerCase();
            fetch(input.dataset.url + '?q=' + text).then(resp => resp.json()).then(data => {
                update(data);
            });
        },
        onSelect: function(item) {
            input.value = item.label;
        }
    });
});
</script>
{% endblock %}

{% block boutons_droite %}
    {% if famille %}
        {% include './famille_boutons.html' with active='perinatal' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row border-bottom lead mt-3 mb-3">
        <div class="col">
            Famille {{ famille.nom }} - {{ famille.adresse }} -
            <span class="enfant">{{ object.personne }}
                ({% if object.personne.date_naissance is None %}<span class="missing_field">date de naissance manquante</span>{% else %}{{ object.personne.age_str }}{{ object|age_premat }}{% endif %})
            </span>
        </div>
    </div>

    <form action= "." method="post">{% csrf_token %}
        <div class="row pb-3 mb-3">
            <div class="col-md-8">
               {{ form.motif_demande.label_tag }}{{ form.motif_demande.errors }}{{ form.motif_demande }}
            </div>
            <div class="col-md-4">
                <div class="mb-3">{{ form.prescripteur.label_tag }}{{ form.prescripteur.errors }}{{ form.prescripteur }}</div>
                <div>{{ form.pediatre.label_tag }}{{ form.pediatre.errors }}{{ form.pediatre }}</div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.lieu_acc.label_tag }}{{ form.lieu_acc.errors }}{{ form.lieu_acc }}
            </div>
            <div class="col-md-3 narrower">
                {{ form.poids_naiss.label_tag }}{{ form.poids_naiss.errors }}{{ form.poids_naiss }}
            </div>
            <div class="col-md-3 narrower">
                {{ form.poids_sortie.label_tag }}{{ form.poids_sortie.errors }}{{ form.poids_sortie }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-9">
                {{ form.accouchement.label_tag }}{{ form.accouchement.errors }}{{ form.accouchement }}
            </div>
            <div class="col-md-3 narrower">
                {{ form.taille.label_tag }}{{ form.taille.errors }}{{ form.taille }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.particularites.label_tag }}{{ form.particularites.errors }}{{ form.particularites }}
            </div>
            <div class="col-md-3 narrower">
                {{ form.gestite.label_tag }}{{ form.gestite.errors }}{{ form.gestite }}
            </div>
            <div class="col-md-3 narrower">
                {{ form.parite.label_tag }}{{ form.parite.errors }}{{ form.parite }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-2">
                <label>Date de naissance :</label><br> {{ form.instance.personne.date_naissance }}<br>
            </div>
            <div class="col-md-3">
                <label>{{ form.age_gest.label_tag }}</label>{{ form.age_gest }}{{ form.age_gest.errors }}
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <label>Naissance multiple :</label><br> {{ form.instance.naissance_mult }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                {{ form.allaitement.label_tag }}{{ form.allaitement.errors }}{{ form.allaitement }}
            </div>
            <div class="col-md-6">
                {{ form.lait_subst.label_tag }}{{ form.lait_subst.errors }}{{ form.lait_subst }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                {{ form.traitement.label_tag }}{{ form.traitement.errors }}{{ form.traitement }}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label>Allergies familiales:</label><br>
                <div id="allerg_fam">{% spaceless %}
                {% for membre in famille.membres.all %}
                    {% if membre.allergies %}<div><i>{{ membre.role.nom }} :</i> {{ membre.allergies }}</div>{% endif %}
                {% endfor %}
                {% endspaceless %}</div>
            </div>
            <div class="col-md-6">
                {{ form.allergies.label_tag }}{{ form.allergies.errors }}{{ form.allergies }}
            </div>
        </div>
    </div>
</div>

        {% if can_edit %}
        <div class="row justify-content-center">
            <div class="col-10">
                {% include "actions.html" %}
            </div>
        </div>
        {% endif %}
    </form>
{% endblock %}
