{% extends "cipe/base_cipe.html" %}

{% block title %}Documents utiles{% endblock %}

{% block boutons_droite %}
<!--div class="topnav-right">
    <form class="form selection_form" method="get" action=".">
        <div class="select-container">
            {{ form.theme.label_tag }} {{ form.theme }}
        </div>
        <div class="select-container">
             {{ form.langue.label_tag }} {{ form.langue }}
        </div>
        <div class="select-container">
            <button id="search-button" type="submit" title="Rechercher"><img src="{% static 'admin/img/search.svg' %}"></button>
            <button id="reset-button" type="reset" title="Réinitialiser tous les filtres"><img src="{% static 'img/filter_off.svg' %}"></button>
        </div>
    </form>
</div-->
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">Documents généraux</p></div>
        
        {% if perms.cipe.add_generaldoc %}
        <div class="col text-end">
            <a class="btn btn-sm btn-outline-primary" href="{% url 'cipe:generaldoc-add' %}">Nouveau document</a>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
        {% with can_edit=perms.cipe.change_generaldoc %}
        {% for doc in object_list %}
            {% ifchanged doc.categorie %}
            {% if not forloop.first %}</details>{% endif %}
            <details class="mb-1 mt-1">
                <summary class="bg-light p-1">
                    {{ doc.categorie }}
                    {% if perms.cipe.change_generaldoccateg %}
                    <span class="hoverimage ms-4">
                        <a href="{% url 'cipe:generaldoccateg-edit' doc.categorie.pk %}" class="js-edit"><img src="{% static 'admin/img/icon-changelink.svg' %}"></a>
                    </span>
                    {% endif %}
                </summary>
            {% endifchanged %}
                <div class="generaldoc-line">
                    {{ doc.fichier|as_icon }} <a href="{{ doc.fichier.url }}" title="Télécharger">{{ doc.titre }}</a>
                    {% if can_edit %}
                    <span class="hoverimage ms-4">
                        <a href="{% url 'cipe:generaldoc-edit' doc.pk %}"><img src="{% static 'admin/img/icon-changelink.svg' %}"></a>
                    </span>
                    {% endif %}
                </div>
        {% empty %}
            <div><em>Aucun document trouvé</em></div>
        {% endfor %}
            </details>
        {% endwith %}
        </div>
    </div>
{% endblock %}
