<li class="nav-item">
  <a href="{% url 'cipe:famille-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Familles CIPE</a>
</li>
<li class="nav-item">
  <a href="{% url 'cipe:suivis-archives' %}" class="btn btn-sm btn-outline-secondary" role="button">Suivis archivés</a>
</li>
<li class="nav-item">
  <a href="{% url 'contact-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Contacts</a>
</li>
<li class="nav-item">
  <a href="{% url 'cipe:generaldoc-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Documents</a>
</li>
<li class="nav-item">
  <a href="{% url 'cipe:themesante-list' %}" class="btn btn-sm btn-outline-secondary" role="button">Thèmes de santé</a>
</li>
<li class="nav-item">
  <a href="{% url 'cipe:prestations-utilisateur' %}" class="btn btn-sm btn-outline-secondary" role="button">Prestations</a>
</li>
<li class="nav-item">
  <a href="{% url 'agenda-choice' %}" class="btn btn-sm btn-outline-secondary" role="button">Agendas</a>
</li>
<div class="nav-item">
  <a href="{% url 'cipe:stats-familles' %}" class="btn btn-sm btn-outline-secondary" role="button">Stats</a>
</div>
