{% extends "cipe/base_cipe.html" %}

{% block extra_javascript %}
    {{ block.super }}
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        document.querySelectorAll('.evaluer').forEach(a => a.addEventListener('click', evalLoadform));
    });
    </script>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
<style>
  textarea { height: 2.5em; width: 100%; }
  .item-list td { border-bottom: 1px solid #ddd; padding-right: 1em; }
  td.month_head { padding-top: 0.7em; }
  span.month_head { background-color: #444; color: white; padding: 5px; border-radius: 5px 5px 0 0; }
  td.acq { color: green; }
  td.part { color: #d5833b; }
  td.nacq { color: red; }
  tr.active td.descriptif { font-weight: bold; }
  .anomalie { font-size: 0.9em; background-color: #eee; color: #555; padding: 1px 5px; border-radius: 3px; margin-bottom: 4px; }
  .form-container form { margin: 0.7em; }
  #id_acquisition label { font-weight: normal; }
  #id_acquisition > div { display: inline-block; padding-right: 1em; }
  #id_acquisition > div:first-child { display: none; }
</style>
{% endblock %}

{% block boutons_droite %}
    {% if famille %}
        {% include './famille_boutons.html' with active='psycho' %}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row border-bottom lead mt-3 mb-3">
        <div class="col">
            Famille {{ famille.nom }} - {{ famille.adresse }} -
            <span class="enfant">{{ enfant }} ({{ enfant.age_str }})</span>
        </div>
    </div>

    {% if enfant.date_naissance is None %}
        <p class="missing_field">La date de naissance de l’enfant est manquante.</p>
    {% elif enfant.age_jours < 28 %}
        <p>L’enfant n’a pas encore un mois</p>
    {% else %}
        {% if enfant.suivienfant.is_premat %}
        <p><i><b>Prématuré</b>, âge normalisé : {{ enfant.suivienfant.age_premat }}</i></p>
        {% endif %}
        <table class="item-list">
        {% for item in items %}
            {% ifchanged item.age_ref %}
                <tr><td colspan="5" class="month_head">
                    <span class="month_head">{{ item.get_age_ref_display }}{{ item.item.get_age_ref_display }}</span>
                    </td>
                </tr>
            {% endifchanged %}
            {% if item.descriptif %}
                <tr data-itemid="{{ item.pk }}">
                    <td class="descriptif">
                        <div>{{ item.descriptif }}</div>
                        {% if item.anomalie %}<div class="anomalie">Anomalie: {{ item.anomalie }}</div>{% endif %}
                        <div class="form-container"></div>
                    </td>
                    <td colspan="4">
                        <a href="{% url 'cipe:enfant-psychoedit' famille.pk enfant.pk %}" class="btn btn-dark evaluer">À évaluer…</a>
                    </td>
                </tr>
            {% else %}
                {% include 'cipe/partial_psycho_line.html' %}
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
