<ul class="nav nav-tabs nav-statistiques">
    {# active is defined in include tag #}
    <li class="nav-item">
        <a class="nav-link {% if active == 'familles' %}active{% endif %}"
           href="{% url 'cipe:stats-familles' %}?{% param_replace %}">Familles et enfants</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'interv' %}active{% endif %}"
           href="{% url 'cipe:stats-interv' %}?{% param_replace %}">Intervenant-e-s</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'localites' %}active{% endif %}"
           href="{% url 'cipe:stats-localites' %}?{% param_replace %}">Localités de provenance</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'lieux' %}active{% endif %}"
           href="{% url 'cipe:stats-lieux' %}?{% param_replace %}">Lieux de consultations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'type' %}active{% endif %}"
           href="{% url 'cipe:stats-type' %}?{% param_replace %}">Types de consultations</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'nouvelles' %}active{% endif %}"
           href="{% url 'cipe:stats-nouvelles' %}?{% param_replace %}">Nouvelles inscriptions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'themes' %}active{% endif %}"
           href="{% url 'cipe:stats-themes' %}?{% param_replace %}">Thèmes de santé</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'nationalite' %}active{% endif %}"
           href="{% url 'cipe:stats-nationalite' %}?{% param_replace %}">Nationalité de la maman</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'duree' %}active{% endif %}"
           href="{% url 'cipe:stats-duree' %}?{% param_replace %}">Durée</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'autre' %}active{% endif %}"
           href="{% url 'cipe:stats-gen' %}?{% param_replace %}">Prestations générales</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if active == 'export' %}active{% endif %}"
           href="{% url 'cipe:stats-export' %}?{% param_replace %}">Exportations</a>
    </li>
</ul>
