{% extends "cipe/base_cipe.html" %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    {% include "cipe/stat-tabs.html" with active="duree" %}

    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover stat_table">
                <thead>
                    <tr><th></th>{% for month in months %}<th>{{ month }}</th>{% endfor %}<th>Total</th></tr>
                </thead>
                <tbody>
                    <tr><td colspan="{{ months|length|add:2 }}" class="app_line">
                        <p class="lead">Durée des consultations</p></td>
                    </tr>
                    {% for typ, typstats in stats.items %}
                        <tr><td colspan="{{ months|length|add:2 }}" class="app_line">
                            <p class="lead"><i>{{ labels|get_item:typ }}</i></p></td>
                        </tr>
                        {% for duree, data in typstats.items %}
                        <tr>
                            <td>{{ duree }}</td>
                            {% for month in months %}
                                <td class="num">{{ data|get_item:month|default_if_none:0 }}</td>
                            {% endfor %}
                            <td class="num">{{ data.total }}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end">
                <a href=".?{% param_replace %}&export=1"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"></a>
            </div>
        </div>
    </div>
{% endblock %}
