{% extends "cipe/base_cipe.html" %}

{% block title %}Statistiques{% endblock %}

{% block content %}
    {% include "statistiques/stat-form.html" %}
    {% include "cipe/stat-tabs.html" with active="export" %}

    <div class="row">
        <div class="col">
            <p class="app_line lead">Exportations de statistiques</p>
            <div>
                <form method="post" action="{% url 'cipe:stats-export-ascpe' %}">{% csrf_token %}
                <fieldset>
                    <b>Données statistiques annuelles pour l’ASCPE</b><br>
                    {{ form.year }}
                    <button type="submit"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"> Exporter</button>
                </fieldset>
                </form>
            </div>
            <div class="mt-3">
                <form method="post" action="{% url 'cipe:stats-export-santene' %}">{% csrf_token %}
                <fieldset>
                    <b>Données statistiques pour la Santé publique</b><br>
                    {{ form.year }}
                    <button type="submit"><img class="icon-ui" src="{% static 'ficons/xlsx.svg' %}"> Exporter</button>
                </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
