{% extends "cipe/base_cipe.html" %}

{% block above-content %}
<form method="get" class="container-fluid mb-5" action=".">
<div class="row justify-content-center">
    <div class="col-10 famille-filter border">
        <div class="row justify-content-between">
            <div class="col-xl-9 d-flex flex-wrap">
                <div class="select-container">
                    {{ form.nom }}
                </div>
                <div class="select-container">
                    {{ form.localite }}
                </div>
                <div class="select-container">
                    {{ form.region.label_tag }} {{ form.region }}
                </div>
            </div>
            <div class="col-xl-1 text-end">
                <button id="search-button" type="submit" title="Rechercher"><img src="{% static 'admin/img/search.svg' %}"></button>
                <button id="reset-button" type="reset" title="Réinitialiser tous les filtres"><img src="{% static 'img/filter_off.svg' %}"></button>
            </div>
        </div>
    </div>

</div>
</form>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col"><p class="lead">{{ title }}</p></div>
    </div>
    <div class="row">
        <div class="col">
            <table id="benef_table" class="table table-sm table-hover sortable">
                <thead class="table-light">
                    <tr>
                        <th>Nom / prénom</th>
                        <th>Localité</th>
                        <th>Centre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for archive in object_list %}
                        <tr>
                            <td>
                                <a href="{% url 'cipe:enfant-desarchiver' archive.pk %}" title="Désarchiver">
                                    {{ archive.nom }} {{ archive.prenom }}
                                </a>
                            </td>
                            <td>{{ archive.npa }} {{ archive.localite }}</td>
                            <td>{{ archive.region|default:'-' }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
