{% extends "cipe/base_cipe.html" %}

{% block title %}Thèmes de santé{% endblock %}

{% block content %}

    <div class="row border-bottom mb-3">
        <div class="col">
            <p class="lead">Thèmes de santé | <a href="{% url 'cipe:themedoc-list' %}">Documents utiles</a></p>
        </div>
        {% if perms.cipe.add_themesante %}
        <div class="col text-end">
            <a class="btn btn-sm btn-outline-primary" href="{% url 'cipe:themesante-add' %}">Nouveau thème</a>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Nom</th>
                    </tr>
                </thead>
                <tbody>
                    {% for theme in object_list %}
                        <tr>
                            <td><a href="{% url 'cipe:themesante-edit' theme.pk %}">{{ theme.nom }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
