{% extends "cipe/base_cipe.html" %}

{% block title %}Documents utiles{% endblock %}

{% block boutons_droite %}
<div class="topnav-right">
    <form class="form selection_form" method="get" action=".">
        <div class="select-container">
            {{ form.theme.label_tag }} {{ form.theme }}
        </div>
        <div class="select-container">
             {{ form.langue.label_tag }} {{ form.langue }}
        </div>
        <div class="select-container">
            <button id="search-button" type="submit" title="Rechercher"><img src="{% static 'admin/img/search.svg' %}"></button>
            <button id="reset-button" type="reset" title="Réinitialiser tous les filtres"><img src="{% static 'img/filter_off.svg' %}"></button>
        </div>
    </form>
</div>
{% endblock %}

{% block content %}
    <div class="row border-bottom mb-3">
        <div class="col">
            <p class="lead">Documents utiles | <a href="{% url 'cipe:themesante-list' %}">Thèmes de santé</a></p>
        </div>
        {% if perms.cipe.add_themedoc %}
        <div class="col text-end">
            <a class="btn btn-sm btn-outline-primary" href="{% url 'cipe:themedoc-add' %}">Nouveau document</a>
        </div>
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
            <table class="table table-sm table-hover">
                <thead class="table-light">
                    <tr>
                        <th>Nom</th>
                        <th>Thèmes</th>
                    </tr>
                </thead>
                <tbody>
                    {% with can_edit=perms.cipe.change_themedoc %}
                    {% for doc in object_list %}
                        <tr>
                            <td><div>{{ doc.fichier|as_icon }} {{ doc.titre }}
                            {% if doc.langue %}({{ doc.get_langue_display }}){% endif %}
                            {% if can_edit %}
                                <span class="hoverimage">
                                    <a href="{% url 'cipe:themedoc-edit' doc.pk %}"><img src="{% static 'admin/img/icon-changelink.svg' %}"></a>
                                </span>
                            {% endif %}
                            </div>
                            </td>
                            <td>{% for theme in doc.themes.all %}<div>{{ theme }}</div>{% endfor %}</td>
                        </tr>
                    {% empty %}
                        <tr><td><em>Aucun document trouvé</em></td></tr>
                    {% endfor %}
                    {% endwith %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
